@model IList<Hackathon2.Entity.Stop>
@using Hackathon2.Models
@{
    ViewBag.Title = "Route Information";
}
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-6">
        <ul class="nav nav-pills nav-stacked">


            @foreach (var stop in Model)
            {
                if (stop.StopStatusId == (int)StopStatusEnum.Complete)
                {
                    <li class="disabled"><a href="#">@(stop.Description)</a></li>
                }
                else if (stop.StopStatusId == (int)StopStatusEnum.InProgress)
                {
                    <li style="background-color:#dff0d8"><a href=" #">@(stop.Description)</a></li>
                }
                else if (stop.StopStatusId == (int)StopStatusEnum.Open)
                {
                    <li style="background-color:#d9edf7"><a href="#">@(stop.Description)</a></li>
                }
            }
        </ul>
    </div>
    <div class="col-md-6">
        <div class="row">
            @(ViewBag.OutingText)
        </div>
        <div class="row">

            <img src="/Services/GetMap?passengerId=@(ViewBag.PassengerId)"/>
        </div>
        </div>
    </div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            setTimeout(function () {
                location.reload(true);
            }, 5000);

        });
    </script>
}

@*<div class="container">
    <div class="row">

        <div class="col-md-6">
   
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">*@

                    @*@foreach (var stop in Model)
                    {
                        if (stop.StopStatusId == (int)StopStatusEnum.Complete)
                        {
                            <li class="disabled"><a href="#@(stop.StopId)" data-toggle="tab">@(stop.Description)</a></li>
                        }
                        else if (stop.StopStatusId == (int)StopStatusEnum.InProgress)
                        {
                            <li class="active success" style="background-color:#dff0d8"><a href="#@(stop.StopId)" data-toggle="tab">@(stop.Description)</a></li>
                        }
                        else if (stop.StopStatusId == (int)StopStatusEnum.Open)
                        {
                            <li class="info" style="background-color:#d9edf7"><a href="#@(stop.StopId)" data-toggle="tab">@(stop.Description)</a></li>
                        }
                    }*@

            
                @*</ul>
                <div class="tab-content">*@

                    @*@foreach (var stop in Model)
                    {
                        if (stop.StopStatusId == (int)StopStatusEnum.Complete)
                        {
                            <div class="tab-pane" id="@(stop.StopId)">
                                Lorem ipsum dolor sit amet, charetra varius quam sit amet vulputate.
                                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.
                            </div>
                        }
                        else if (stop.StopStatusId == (int)StopStatusEnum.InProgress)
                        {
                            <div class="tab-pane active" id="@(stop.StopId)">
                                Lorem ipsum dolor sit amet, charetra varius quam sit amet vulputate.
                                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.
                            </div>
                        }
                        else if (stop.StopStatusId == (int)StopStatusEnum.Open)
                        {
                            <div class="tab-pane" id="@(stop.StopId)">
                                Lorem ipsum dolor sit amet, charetra varius quam sit amet vulputate.
                                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.
                            </div>
                        }
                    }*@

                   
                @*</div>
            </div>
            

        </div>

        <div class="col-md-6">
            MAP COULD GO HERE
            </div>

        </div>
</div>*@